<h2 mat-dialog-title>
  Multiple Root Classes Detected
</h2>

<mat-dialog-content>
  <p>
    EMFular found several possible root classes. Please choose one.
  </p>



  <mat-radio-group [(ngModel)]="selectedEclass">

    @for (pkg of packages; track pkg.name) {

      <h3>{{ pkg.name }}</h3>

      @for (item of pkg.classesWithUri; track item.cls.name) {
        <mat-radio-button
          class="root-option"
          [value]="item.uri"
        >
          <strong>{{ item.cls.name }}</strong>

          <div class="meta">
            @if (item.cls.abstract) { <span>abstract</span> }
            @if (item.cls.interfaceLike) { <span>interface</span> }
            @if (hasContainment(item.cls)) { <span>contains children</span> }
            @if (allFeaturesTransient(item.cls)) { <span>all features transient</span> }
          </div>
        </mat-radio-button>

      }

    }

  </mat-radio-group>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!selectedEclass" (click)="confirm()">
    Use Selected Root
  </button>
</mat-dialog-actions>
